@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Merriweather';
	font-display: swap;
	src: local('Merriweather'), url('../fonts/Merriweather-Regular.woff2') format('woff2');
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: 'Merriweather';
	font-display: swap;
	src: local('Merriweather'), url('../fonts/Merriweather-Bold.woff2') format('woff2');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'GolosText';
	font-display: swap;
	src: local('GolosText'), url('../fonts/GolosText-Regular.woff2') format('woff2');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'GolosText';
	font-display: swap;
	src: local('GolosText'), url('../fonts/GolosText-Medium.woff2') format('woff2');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'GolosText';
	font-display: swap;
	src: local('GolosText'), url('../fonts/GolosText-SemiBold.woff2') format('woff2');
}

:root {
  --golos-text-font: "GolosText", "Arial", sans-serif;
}

body {
  min-width: 375px;
  margin: 0;
  font-family: "Merriweather", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button {
  display: block;
  width: 335px;
  padding: 13px 26px;
  text-decoration: none;
  background-color: #1f1f1f;
  font-family: var(--golos-text-font);
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  border-radius: 66px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background-color: #fbce51;
  color: #1f1f1f;
}

.header {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/header-bg.png");
}

.header-wrapper {
  margin-bottom: 275px;
  padding: 18px 20px;
}

.header__logo {
  display: block;
  margin-bottom: 37px;
}

.header__promo {
  margin: 0;
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 111%;
  color: #313131;
  text-transform: uppercase;
}

.header__promo-align-center {
  display: block;
  text-align: center;
}

.header__promo-align-right {
  display: block;
  text-align: right;
}

.header__text {
  margin: 0;
  margin-bottom: 36px;
  font-family: var(--golos-text-font);
  font-size: 18px;
  line-height: 130%;
  color: #313131;
}

.button-indent {
  margin-bottom: 14px;
}

.button-primary {
  padding-bottom: 11px;
  font-family: var(--golos-text-font);
  color: #1f1f1f;
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes marquee {
  from {
    background-position: -50%;
  }

  to {
    background-position: 50%;
  }
}

.header__running-string {
  height: 38px;
  background-color: #f54932;
  background-image: url("../images/running-string.svg");
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-size: auto 16px;
  animation: marquee 10s linear infinite;
}

.chess-event {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 46px;
}

.chess-event__wrapper {
  display: contents;
}

.chess-event__text {
  order: -1;
  margin: 0;
  padding: 48px 20px 24px;
  font-size: 28px;
  line-height: 135%;
  text-transform: uppercase;
  color: #313131;
}

.card--1 {
  display: flex;
  flex-direction: column;
}

.card__img {
  padding: 0 18px;
}

.card__text {
  order: 1;
  margin: 0;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 28px;
  line-height: 135%;
  text-transform: uppercase;
}

.card__text span {
  font-family: "Merriweather", "Arial", sans-serif;
  font-weight: 700;
  color: #f54932;
}

.card__img--big {
  width: 375px;
  padding: 0;
  padding-top: 23px;
}

.card__text--different {
  padding-top: 15px;
}

.event-time {
  padding: 0 20px;
  padding-top: 45px;
}

.event-time__list {
  margin: 0;
  margin-bottom: 26px;
}

.event-list__item {
  margin-bottom: 16px;
  font-family: var(--golos-text-font);
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  border-bottom: 2px solid #d0d0d0;
}

.event-list__item:last-child {
  border-bottom: none;
}

.event-list__item--inline {
  display: inline;
}

.event-list__termin {
  padding-bottom: 11px;
  color: rgba(49, 49, 49, 0.7);
}

.event-list__definition {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 600;
  color: #313131;
}

.event-list__definition del {
  text-decoration-color: #f54932;
} 

.event-list__termin--inline,
.event-list__definition--inline {
  display: inline-block;
}

.event-time__text {
  font-family: var(--golos-text-font);
  font-size: 18px;
  line-height: 120%;
  color: #3057a2;
}

.history-block {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 58px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.history-block__wrapper {
  display: contents;
}

.history-block__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 110%;
  font-weight: 400;
  color: #313131;
  text-transform: uppercase;
}

.history-block__text {
  margin: 0;
  font-family: var(--golos-text-font);
  font-size: 18px;
  color: #3057a2;
}

.history-block__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 147px;
  list-style: none;
}

.history-block__list::before {
  position: absolute;
  content: "";
  top: 18px;
  left: 0;
  width: 335px;
  height: 182px;
  background-image: url("../images/plane.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.history-block__item {
  background-image: url("/images/history-item-bg.jpg");
  background-repeat: no-repeat;
}

.history-block__item p {
  margin: 0;
}

.history-block__item {
  display: none;
}

.history-block__item--1 {
  display: block;
}

.slide {
  position: relative;
  display: none;
  font-family: var(--golos-text-font);
  font-size: 18px;
  line-height: 120%;
  color: #313131;
}

.slide__text {
  position: relative;
  padding-left: 72px;
  padding-bottom: 30px;
  padding-right: 20px;
  font-family: var(--golos-text-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.slide__text--1 {
  padding-top: 63px;
}

.slide__text span {
  position: absolute;
  display: block;
  padding: 5px 12px;
  top: -3px;
  left: 19px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 20px;
  line-height: 120%;
  font-family: var(--golos-text-font);
  color: #313131;
  box-sizing: border-box;
  font-weight: 600;
}

.slide__text--1 span {
  top: 61px;
}

.slide__text--2 {
  padding-bottom: 33px;
}

.buttons-wrapper {
  width: 176px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
}

.slide__prev,
.slide__next {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #313131;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.slide__prev:hover,
.slide__prev:focus,
.slide__next:hover,
.slide__prev:focus {
  background-color: #fbce51;
}

.slide__prev:disabled,
.slide__next:disabled {
  background-color: rgba(49, 49, 49, 0.2);
}

.slide__prev {
  margin-right: 13px;
}

.slide__next {
  margin-left: 13px;
}

.slide__prev::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 12px;
  width: 22px;
  height: 22px;
  background-image: url("../images/slide-prev-btn.svg");
  background-repeat: no-repeat;
}

.slide__next::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 14px;
  width: 22px;
  height: 18px;
  background-image: url("../images/slide-next-btn.svg");
  background-repeat: no-repeat;
}

.slider-btn {
  width: 10px;
  height: 10px;
  padding: 3px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn--current {
  background-color: #313131;
}

.events-faces {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 20px 105px;
  box-sizing: border-box;
}

.events-faces__title {
  margin: 0;
  font-size: 36px;
  line-height: 110%;
  font-weight: 400;
  text-transform: uppercase;
  color: #313131;
}

.events-faces__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events-faces__item {
  display: none;
  font-family: var(--golos-text-font);
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  color: #313131;
}

.events-faces__item--current {
  display: block;
}

.events-faces__item img {
  padding: 41px 44px 23px 44px;
}

.events-faces__name {
  margin: 0;
  padding: 0 23px;
}

.events-faces__rank {
  margin: 0;
  padding: 5px 27px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(49, 49, 49, 0.6);
}

.events-faces__link {
  display: block;
  width: 89px;
  margin: 12px auto 40px;
  padding: 6px 12px 8px;
  font-family: var(--golos-text-font);
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
  color: #3057a2;
  text-decoration: none;
  border: 1px solid #3057a2;
  border-radius: 62px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.events-faces__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 129px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.events-faces__controls span {
  font-family: var(--golos-text-font);
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #313131;
}

.events-faces__prev,
.events-faces__next {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #313131;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

 .events-faces__prev::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 13px;
    width: 20px;
    height: 20px;
    background-image: url("../images/event-faces-prev-mobile.svg");
    background-repeat: no-repeat;
  }

  .events-faces__next::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 14px;
    width: 20px;
    height: 20px;
    background-image: url("../images/event-faces-next-mobile.svg");
    background-repeat: no-repeat;
  }

.footer {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}

.footer__text {
  margin: 0;
  padding: 40px 20px 60px;
  font-family: var(--golos-text-font);
  font-size: 16px;
  line-height: 120%;
  color: rgba(49, 49, 49, 0.6);
  background-color: #e9ded4;
}

.footer__running-string {
  height: 38px;
  background-color: #f54932;
  background-image: url("../images/running-string.svg");
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-size: auto 16px;
  animation: marquee 10s linear infinite;
}

@media (min-width: 1366px) {
  .header {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/header-bg-1366.jpg");
    background-repeat: no-repeat;
  }

  .header-wrapper {
    margin-bottom: 103px;
    padding: 27px 72px;
  }

  .header__logo {
    margin-bottom: 56px;
  }

  .header__logo img {
    width: 241px;
    height: 36px;
  }

  .header__promo {
    margin-bottom: 25px;
    width: 542px;
    font-size: 60px;
    line-height: 110%;
    color: #313131;
  }
  
  .header__text {
    width: 542px;
    margin-bottom: 39px;
    text-align: center;
    color: #313131;
  }

  .header__button-wrapper {
    width: 542px;
    display: flex;
    align-items: top;
    column-gap: 16px;
  }

  .button-default {
    width: 263px;
    margin-bottom: 0;
    padding: 15px 56px;
    box-sizing: border-box;
  }

  .button-primary {
    width: 263px;
    padding: 13px 56px 14px 56px;
    box-sizing: border-box;
    border: 2px solid #1f1f1f;
    background: transparent;
  }

  .button-primary:hover,
  .button-primary:focus {
    color: #ffffff;
    background-color: #1f1f1f;
  }

  .header__running-string {
    height: 60px;
    background-color: #f54932;
    background-image: url("../images/running-string.svg");
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: auto 22px;
    animation: marquee 10s linear infinite;
  }

  .chess-event {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  .chess-event__wrapper {
    display: inline;
  } 

  .card {
    padding: 80px 72px 0;
  }

  .card--1 {
    display: grid;
    grid-template-columns: 764fr 394fr; 
    align-items: center; 
    gap: 64px;
  }

  .card__img--1 {
    width: 394px;
    padding: 0;
  }

  .chess-event__text,
  .card__text {
    display: inline;
    padding: 0;
    font-size: 36px;
    color: #313131;
  }

  .card--2 {
    display: grid;
    grid-template-columns: 531px 1fr;
    grid-template-rows: 269px 300px;
    padding: 0 43px;
    padding-bottom: 80px;
  }

  .card__img--big {
    width: 531px;
    padding-top: 17px;
    grid-row: 1 / -1;
  }

  .card__text--different {
    grid-column: 2 / -1;
    display: block;
    order: 0;
    padding: 64px 65px 40px 16px;
  }

  .event-time {
    padding: 0 16px;
    padding-top: 2px;
  }

  .event-list {
    width: 704px;
    margin-bottom: 0;
  }

  .event-list__item {
    display: grid;
    grid-template-columns: 307px 1fr;
    margin: 0;
    
  }

  .event-list__termin {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(49, 49, 49, 0.7);
    border-right: 2px solid #d0d0d0;
  }

  .event-list__definition {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  }

  .event-list__item:first-child .event-list__termin {
    padding-top: 0;
  }
  
  .event-list__item:first-child .event-list__definition {
    padding-top: 0;
  }

  .event-list__item:last-child .event-list__termin {
    padding-bottom: 0;
  }
  
  .event-list__item:last-child .event-list__definition {
    padding-bottom: 0;
  }

  .event-time__text {
    margin: 0;
    margin-top: 48px;
    font-size: 20px;
  }

  .event-list__definition--inline span {
    display: none;
  }

  .history-block {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding: 96px 72px 0;
  }

  .history-block__wrapper {
    display: block;
    width: 806px;
  }

  .history-block__title {
    display: inline;
    font-size: 54px;
    line-height: 120%;
  }

  .history-block__text {
    display: inline-block;
    width: 280px;
    padding-left: 15px;
    font-size: 20px;
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
    padding-top: 54px;
  }

  .slider::before {
    background: none;
  }

  .history-block__item {
    display: contents;
  }

  .slide__text {
    padding: 20px 18px 24px 72px;
    font-family: var(--golos-text-font);
    font-size: 20px;
    font-weight: 500;
    color: #313131;
  }

  .slide__text--1 {
    background-image: url("../images/slide-desktop-1.jpg");
  }

  .slide__text--2 {
    background-image: url("../images/slide-desktop-2.jpg");
  }

  .slide__text--3 {
    grid-row: span 2;
    background-image: url("../images/slide-desktop-3.jpg");
  }

  .slide__text--4 {
    background-image: url("../images/slide-desktop-4.jpg");
  }

  .slide__text--5 {
    padding-right: 30px;
    background-image: url("../images/slide-desktop-5.jpg");
  }

  .slide__text--6 {
    background-image: url("../images/slide-desktop-6.jpg");
  }

  .slide__text--7 {
    position: relative;
    grid-column: span 2;
    background-image: url("../images/slide-desktop-7.jpg");
  }

  .slide__text--7 {
    padding-right: 300px;
  }

  .slide__text--7::after {
    position: absolute;
    content: "";
    right: -44px;
    bottom: -3px;
    width: 384px;
    height: 235px;
    background-image: url("../images/plane-desktop.png");
  }

  .slide__text {
    padding-top: 20px;
    padding-left: 72px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
  }

  .slide__text span {
    top: 20px;
    left: 20px;
  }

  .buttons-wrapper {
    display: none;
  }

  .events-faces {
    display: grid;
    grid-template-columns: 806px 415px;
    grid-template-rows: 65px 1fr;
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding: 201px 72px 100px;
    box-sizing: border-box;
  }

  .events-faces__title {
    font-size: 54px;
    line-height: 120%;
    color: #313131;
  }

  .events-faces__controls {
    justify-content: space-between;
    gap: 10px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .events-faces__list {
    display: flex;
    justify-content: space-between;
    width: 1148px;
    padding: 0 37px;
    padding-top: 59px;
  }

  .events-faces__item {
    flex-direction: column;
    align-items: center;
  }

  .events-faces__list .events-faces__img {
    width: 320px;
    margin-bottom: 29px;
    padding: 0;
  }

  .events-faces__item--1,
  .events-faces__item--2,
  .events-faces__item--3 {
    display: flex;
  }

  .events-faces__controls {
    align-self: start;
    justify-self: end;
    width: 151px;
    margin: 0;
    margin-top: 9px;
  }

  .events-faces__prev,
  .events-faces__next {
    position: relative;
    width: 44px;
    height: 44px;
  }

 .events-faces__prev::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 15px;
    width: 20px;
    height: 20px;
    background-image: url("../images/event-faces-prev.svg");
    background-repeat: no-repeat;
  }

  .events-faces__next::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 19px;
    width: 20px;
    height: 20px;
    background-image: url("../images/event-faces-next.svg");
    background-repeat: no-repeat;
  }
 
  .events-faces__prev:hover,
  .events-faces__next:hover,
  .events-faces__prev:focus,
  .events-faces__next:focus {
    background-color: #fbce51;
  }

  .events-faces__prev:disabled,
  .events-faces__next:disabled {
    background-color: #d6d6d6;
  }

  .events-faces__img {
    margin-bottom: 28px;
  }

  .events-faces__name {
    padding: 0;
    color: #313131;
  }

  .events-faces__rank {
    margin-top: 3px;
    margin-bottom: 18px;
    padding: 0;
  }

  .events-faces__link {
    margin-top: auto;
    padding: 6px 11px 7px;
  }

  .events-faces__link:hover,
  .events-faces__link:focus {
    color: #ffffff;
    background-color: #3057a2;
  }

  .footer {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__running-string {
    height: 60px;
    background-color: #f54932;
    background-image: url("../images/running-string.svg");
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: auto 22px;
    animation: marquee 10s linear infinite;
  }

  .footer__text {
    margin: 0;
    padding: 40px 72px 72px; 
    font-size: 16px;
    line-height: 120%;
    color: rgba(49, 49, 49, 0.6);
  }
}

@media (min-width: 1920px) {
  .header {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/header-bg-1920.jpg");
  }

  .footer {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}